body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    padding: 0 5%;
}

.flexible-div {
    display: flex;
}

.hero-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.w-50 {
    width: 50%;
    padding: 0 20px;
}
.orenge-color{
    color: orange;
}
.hero-section img,
.big-dream img {
    padding-top: 40px;
    width: 100%;
}

.hire-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
    background-image: linear-gradient(#cc2b5e, #753a88);
    margin-top: 20px;
}

.hire-btn:hover {
    background-image: linear-gradient(#753a88, #cc2b5e);
}

.big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.big-dream h1 {
    font-size: 40px;
}

.expriences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 50px;
}

.expriences .expriences-item {
    width: 40%;
    margin: 0 40px;
    box-shadow: 5px 10px 20px #888888;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.expriences-left{
    border-left: 5px solid #753a88;
}

.expriences-right{
    border-left: 5px solid #cc2b5e;
}